/* You can add global styles to this file, and also import other style files */
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;

@mixin no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
    font-family: $font-family-sans-serif;
    font-size: 10px;
    color: #007bff;
    .left { float: left }
    .right { float: right }
}

th {
    div {
        display: inline-block;
    }
    div.content { 
        float: left;
    }
    div.icons {
        @include no-select;
        float: right;
    }
    div.icon-set {
        z-index: 1000;
        margin: 0 .375em 0 .375em;
    }
    div.icons:hover {
        cursor: pointer;
    }
}

div.icon { 
    width: 1rem; 
    margin: -.25em;
    padding: 0;
}
div.icon-off { color: #999999; }

th {
  vertical-align: middle;
}

div.filter-row {
    font-size: 80%;
}

.spaced-row {
    margin-top: .5rem;
}

