

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="row" style="margin-bottom: 4rem;">
        <div class="col-sm-12">
          <h2>Manage Members</h2>
        </div>
      </div>

      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div *ngIf="!filtersOn()" class="icon icon-off"><i class="fa fa-filter fa-lg"></i></div>
            <div *ngIf="filtersOn()" class="icon"><i class="fa fa-filter fa-lg"></i></div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="container">
              <div class="row filter-row">
                <div class="col-sm-12">
                  <div class="row spaced-row" *ngFor="let filter of filters">
                    <div class="col-sm-12 col-md-2">
                      {{filter.propertyName}}
                    </div>
                    <div class="col-sm-12 col-md-3">
                      <select [(ngModel)]="filter.selectedComparer" class="form-control">
                        <option *ngFor="let comparer of filter.allowedComparers" [ngValue]="comparer">{{comparer.label}}</option>
                      </select>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <input type="text" class="form-control" [(ngModel)]="filter.compareValue" />
                    </div>
                  </div>
                  <div class="row spaced-row">
                    <div class="col-sm-1">
                      <button *ngIf="!filtersOn()" (click)="turnOnFilters()" class="btn btn-primary">Filter</button>
                      <button *ngIf="filtersOn()" (click)="turnOnFilters()" class="btn btn-primary">Re-Filter</button>
                    </div>
                    <div class="col-sm-1">
                      <button *ngIf="filtersOn()" (click)="turnOffFilters()" class="btn btn-primary">Remove Filters</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>
                  <div class="left">Name</div>
                  <div class="icons right">
                    <div class="icon-set" (click)='changeSort(["Last Name", "First Name"])'>
                      <div *ngIf='sortSettings["Last Name"] == "descending"' class="icon"><i class="fas fa-caret-down fa-lg"></i></div>
                      <div *ngIf='sortSettings["Last Name"] != "descending"' class="icon icon-off"><i class="fas fa-caret-down fa-lg"></i></div>
                      <div *ngIf='sortSettings["Last Name"] == "ascending"' class="icon"><i class="fas fa-caret-up fa-lg"></i></div>
                      <div *ngIf='sortSettings["Last Name"] != "ascending"' class="icon icon-off"><i class="fas fa-caret-up fa-lg"></i></div>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="left">Username</div>
                  <div class="icons right" (click)='changeSort(["Username"])'>
                    <div *ngIf='sortSettings["Username"] == "descending"' class="icon"><i class="fas fa-caret-down fa-lg"></i></div>
                    <div *ngIf='sortSettings["Username"] != "descending"' class="icon icon-off"><i class="fas fa-caret-down fa-lg"></i></div>
                    <div *ngIf='sortSettings["Username"] == "ascending"' class="icon"><i class="fas fa-caret-up fa-lg"></i></div>
                    <div *ngIf='sortSettings["Username"] != "ascending"' class="icon icon-off"><i class="fas fa-caret-up fa-lg"></i></div>      
                  </div> 
                </th>
                <th>
                  <div class="left">Date of Birth</div>
                  <div class="icons right" (click)='changeSort(["Date Of Birth"])'>
                    <div *ngIf='sortSettings["Date Of Birth"] == "descending"' class="icon"><i class="fas fa-caret-down fa-lg"></i></div>
                    <div *ngIf='sortSettings["Date Of Birth"] != "descending"' class="icon icon-off"><i class="fas fa-caret-down fa-lg"></i></div>
                    <div *ngIf='sortSettings["Date Of Birth"] == "ascending"' class="icon"><i class="fas fa-caret-up fa-lg"></i></div>
                    <div *ngIf='sortSettings["Date Of Birth"] != "ascending"' class="icon icon-off"><i class="fas fa-caret-up fa-lg"></i></div>      
                  </div> 
                </th>
                <th>
                  <div class="left">Email</div>
                </th>
                <th>
                  <div class="left">Phone</div>
                </th>
                <th>
                  <div class="left">Deleted</div>
                  <div class="icons right" (click)='changeSort(["Is Deleted"])'>
                    <div *ngIf='sortSettings["Is Deleted"] == "descending"' class="icon"><i class="fas fa-caret-down fa-lg"></i></div>
                    <div *ngIf='sortSettings["Is Deleted"] != "descending"' class="icon icon-off"><i class="fas fa-caret-down fa-lg"></i></div>
                    <div *ngIf='sortSettings["Is Deleted"] == "ascending"' class="icon"><i class="fas fa-caret-up fa-lg"></i></div>
                    <div *ngIf='sortSettings["Is Deleted"] != "ascending"' class="icon icon-off"><i class="fas fa-caret-up fa-lg"></i></div>      
                  </div> 
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let m of members">
              <tr>
                <td>{{m.Lastname}}, {{m.Firstname}}</td>
                <td>{{m.Username}}</td>
                <td>{{m.DateOfBirth | date: 'MM/dd/yyyy'}}</td>
                <td>{{m.EmailAddress}}</td>
                <td>({{m.PhoneNumber.substring(0,3)}}) {{m.PhoneNumber.substring(3,6)}}-{{m.PhoneNumber.substring(6,10)}}</td>
                <td>{{(m.IsDeleted == true) ? "Yes" : "No"}}</td>
              </tr>
            </tbody>
          </table>

          <ngb-pagination [collectionSize]="totalRecords" [pageSize]="searchModel.pageSize" [(page)]="searchModel.pageNumber" (pageChange)="changePage($event)" aria-label="Default pagination"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>